version: '3.3'
services:

  kubevious-redisearch:
    image: 'redislabs/redisearch:2.4.8'
    container_name: kubevious-redisearch
    networks:
      - kubevious
    hostname: kubevious-redisearch
    restart: always
    ports:
      - '4070:6379'

  kubevious-redisearch-commander:
    container_name: kubevious-redisearch-commander
    networks:
      - kubevious
    hostname: kubevious-redisearch-commander
    image: rediscommander/redis-commander:latest
    restart: always
    environment:
    - REDIS_HOSTS=local:kubevious-redisearch:6379
    ports:
    - "4060:8081"

networks:
  kubevious:
    external: true